# Imports

In [14]:
import numpy as np
import pandas as pd

In [9]:
print("hello world")

hello world

# 10 min to pandas

In [12]:
tmplist = [1, 2, 3]

newList = np.array(tmplist)

print(type(newList))

print(type(tmplist))

<class 'numpy.ndarray'>
<class 'list'>

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [17]:
dates = pd.date_range("20220101", periods=6)

dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2022-01-01  0.619355 -0.131200 -0.101018 -1.102597
2022-01-02  0.464104  0.694282 -0.132673  0.292995
2022-01-03  0.762543 -0.502998  1.562291  0.567482
2022-01-04  0.197878 -3.103229 -0.460286  0.667568
2022-01-05 -0.576447  0.617066 -0.782229 -1.785204
2022-01-06  0.892375 -1.573377  1.093568 -0.939187

In [20]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2022-01-02  1.0  3   test  foo
1  1.0 2022-01-02  1.0  3  train  foo
2  1.0 2022-01-02  1.0  3   test  foo
3  1.0 2022-01-02  1.0  3  train  foo

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [29]:
df2.abs

<bound method NDFrame.abs of      A          B    C  D      E    F
0  1.0 2022-01-02  1.0  3   test  foo
1  1.0 2022-01-02  1.0  3  train  foo
2  1.0 2022-01-02  1.0  3   test  foo
3  1.0 2022-01-02  1.0  3  train  foo>

In [36]:
df.head()

                   A         B         C         D
2022-01-01  0.619355 -0.131200 -0.101018 -1.102597
2022-01-02  0.464104  0.694282 -0.132673  0.292995
2022-01-03  0.762543 -0.502998  1.562291  0.567482
2022-01-04  0.197878 -3.103229 -0.460286  0.667568
2022-01-05 -0.576447  0.617066 -0.782229 -1.785204

In [37]:
df.tail()

                   A         B         C         D
2022-01-02  0.464104  0.694282 -0.132673  0.292995
2022-01-03  0.762543 -0.502998  1.562291  0.567482
2022-01-04  0.197878 -3.103229 -0.460286  0.667568
2022-01-05 -0.576447  0.617066 -0.782229 -1.785204
2022-01-06  0.892375 -1.573377  1.093568 -0.939187

In [41]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [43]:
df.to_numpy()

array([[ 0.61935532, -0.13120011, -0.10101822, -1.10259695],
       [ 0.46410354,  0.69428178, -0.13267333,  0.29299528],
       [ 0.76254329, -0.5029982 ,  1.56229054,  0.56748195],
       [ 0.19787849, -3.1032287 , -0.46028619,  0.66756832],
       [-0.57644717,  0.6170661 , -0.78222937, -1.78520414],
       [ 0.89237489, -1.57337747,  1.09356781, -0.93918655]])

In [44]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [45]:
df.describe(
)

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.393301 -0.666576  0.196609 -0.383157
std    0.532941  1.454140  0.922634  1.025419
min   -0.576447 -3.103229 -0.782229 -1.785204
25%    0.264435 -1.305783 -0.378383 -1.061744
50%    0.541729 -0.317099 -0.116846 -0.323096
75%    0.726746  0.430000  0.794921  0.498860
max    0.892375  0.694282  1.562291  0.667568

In [46]:
df.T

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A    0.619355    0.464104    0.762543    0.197878   -0.576447    0.892375
B   -0.131200    0.694282   -0.502998   -3.103229    0.617066   -1.573377
C   -0.101018   -0.132673    1.562291   -0.460286   -0.782229    1.093568
D   -1.102597    0.292995    0.567482    0.667568   -1.785204   -0.939187

In [52]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-01 -1.102597 -0.101018 -0.131200  0.619355
2022-01-02  0.292995 -0.132673  0.694282  0.464104
2022-01-03  0.567482  1.562291 -0.502998  0.762543
2022-01-04  0.667568 -0.460286 -3.103229  0.197878
2022-01-05 -1.785204 -0.782229  0.617066 -0.576447
2022-01-06 -0.939187  1.093568 -1.573377  0.892375

In [56]:
df.sort_values(by="D")

                   A         B         C         D
2022-01-05 -0.576447  0.617066 -0.782229 -1.785204
2022-01-01  0.619355 -0.131200 -0.101018 -1.102597
2022-01-06  0.892375 -1.573377  1.093568 -0.939187
2022-01-02  0.464104  0.694282 -0.132673  0.292995
2022-01-03  0.762543 -0.502998  1.562291  0.567482
2022-01-04  0.197878 -3.103229 -0.460286  0.667568

In [58]:
df[0:3]

                   A         B         C         D
2022-01-01  0.619355 -0.131200 -0.101018 -1.102597
2022-01-02  0.464104  0.694282 -0.132673  0.292995
2022-01-03  0.762543 -0.502998  1.562291  0.567482

In [59]:
df.loc[dates[0]]

A    0.619355
B   -0.131200
C   -0.101018
D   -1.102597
Name: 2022-01-01 00:00:00, dtype: float64