# Lab1

# Imports

In [2]:
import numpy as np
import pandas as pd

# Custom functions

In [3]:
"""
def grade_setter(x: int) -> str:
    conditions = [ 
        (x > 90),
        (x > 80) and (x <= 90),
        (x > 70) and (x <= 80),
        (x > 60) and (x <= 70),
        (x > 50) and (x <= 60),
        (x <=50)
    ]

    values = ['A', 'B', 'C', 'D', 'E', 'F']
    grades = np.select(conditions, values)
    return grades
"""

"\ndef grade_setter(x: int) -> str:\n    conditions = [ \n        (x > 90),\n        (x > 80) and (x <= 90),\n        (x > 70) and (x <= 80),\n        (x > 60) and (x <= 70),\n        (x > 50) and (x <= 60),\n        (x <=50)\n    ]\n\n    values = ['A', 'B', 'C', 'D', 'E', 'F']\n    grades = np.select(conditions, values)\n    return grades\n"

In [4]:
def grade_setter(x: int) -> str:
    if x == 0:
        return "Undefined grade"
    if x < 18:
        return "F" 
    if 19 <= x <38:
        return "E"
    if 39 <= x < 58:
        return "D" 
    if 58 <= x < 78:
        return "C" 
    if 78 <= x < 93:
        return "B" 
    if x>=93:
        return "A"

# Fetching data

In [5]:
url = 'https://raw.githubusercontent.com/DAVE3625-22H/Lab-1/main/students.csv'
df = pd.read_csv(url)

# Exploring data

In [6]:
df

    StudentID  Age              email hrsStudy  FinalGrade
0       47412   20  s47412@oslomet.no        5        46.0
1       15077   22  s15077@oslomet.no        0        65.0
2       15467   27  s15467@oslomet.no        1        26.0
3       17907   21  s17907@oslomet.no        6        68.0
4       13352  333  s13352@oslomet.no        4        34.0
5       88403   29  s88403@oslomet.no       11        62.0
6       56387   32  s56387@oslomet.no        9        29.0
7       95648   23  s95648@oslomet.no        3        38.0
8       63176   20  s63176@oslomet.no        0        98.0
9       15406   31  s15406@oslomet.no        2        68.0
10      41908   24  s41908@oslomet.no        0        62.0
11      35600   30  s35600@oslomet.no       11        70.0
12      16171   25  s16171@oslomet.no       10        81.0
13      55586   24  s55586@oslomet.no        7        31.0
14      71505   23  s71505@oslomet.no        1        49.0
15      31235   33  s31235@oslomet.no        1        72.0
16      80811   21  s80811@oslomet.no        6        51.0
17      33041   21  s33041@oslomet.no        2        97.0
18      99823   23  s99823@oslomet.no       10        56.0
19      41092   33  s41092@oslomet.no       10        42.0
20      15976   32  s15976@oslomet.no        9        78.0
21      91520   33  s91520@oslomet.no        9        60.0
22      11758   33  s11758@oslomet.no        6        54.0
23      67086   22  s67086@oslomet.no       10        51.0
24      84127   20  s84127@oslomet.no        5        92.0
25      59109   32  s59109@oslomet.no        7        97.0
26      10736   21  s10736@oslomet.no       10         NaN
27      71581   25  s71581@oslomet.no        9        26.0
28      29254   22  s29254@oslomet.no       10        88.0
29      20161   22  s20161@oslomet.no       11        90.0
30      21523   31  s21523@oslomet.no                 51.0
31      66815   21  s66815@oslomet.no        8        35.0
32      26914   31  s26914@oslomet.no        9        93.0
33      58153  220  s58153@oslomet.no       10        35.0
34      58387   20  s58387@oslomet.no        9       673.0
35      44561   28  s44561@oslomet.no       10        78.0
36      84163   25  s84163@oslomet.no        7        71.0
37      26584   27  s26584@oslomet.no       10        31.0
38      74289   31  s74289@oslomet.no        6        45.0
39      30158   21  s30158@oslomet.no        3        37.0
40      25452   24  s25452@oslomet.no       10        41.0
41      92390   27  s92390@oslomet.no        2        35.0
42      83390   22  s83390@oslomet.no        7        88.0
43      32946   31  s32946@oslomet.no       10        24.0
44      44023   31  s44023@oslomet.no        6        83.0
45      62039   23  s62039@oslomet.no        4        46.0
46      42989   27  s42989@oslomet.no        0        80.0
47      85370   29  s85370@oslomet.no        2        77.0
48      63135   26  s63135@oslomet.no        9        39.0
49      28895   19  s28895@oslomet.no       10        68.0

# Data Cleaning

In [7]:
# Replaces all places where NaN=True.
df=df.replace(r'^\s*$', np.nan, regex=True)

# Drops NaN-values.
df.dropna(inplace=True)
df.isna().sum()

StudentID     0
Age           0
email         0
hrsStudy      0
FinalGrade    0
dtype: int64

In [8]:
# Could also change NaN to zero-value, and get undefined grade
df = df.fillna(0)

# Checks if there are any columns containing NaN-values.
df.isna().sum()

StudentID     0
Age           0
email         0
hrsStudy      0
FinalGrade    0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   48 non-null     int64
 1   Age         48 non-null     int64
 2   email       48 non-null     object
 3   hrsStudy    48 non-null     object
 4   FinalGrade  48 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.2+ KB

In [10]:
# Removing outliers
col = ["FinalGrade"]

q1 = df[col].quantile(0.25)
q3 = df[col].quantile(0.75)
iqr = q3 - q1

df = df[~((df[col] < (q1 - 1.5* iqr)) | (df[col] > (q3 + 1.5*iqr))).any(axis=1)]

# Feature Engineering - Making letter grade

In [11]:
# Applying the lambda function on 'Lettergrade'-column
df["LetterGrade"] = df["FinalGrade"].apply(lambda x: grade_setter(x))

In [12]:
df["LetterGrade"].value_counts()

D    11
C    11
E    11
B     9
A     4
Name: LetterGrade, dtype: int64

In [33]:
# Built in plot to be fancy
df["LetterGrade"].value_counts().plot(kind="barh")